@import "tailwindcss";


@theme {
  --font-equitan: "EquitanSans", sans-serif;
  --font-radhiumz: "Radhiumz", sans-serif;
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-textPrimary: var(--textPrimary);
  --color-textSecondary: var(--textSecondary);
}

:root {
  --primary:oklch(0.4239 0.1875 285.79);
  --secondary:oklch(0.8209 0.1582 131.29);
  --background:oklch(1 0 0);
  --textPrimary:oklch(0.2603 0 0);
  --textSecondary:oklch(0.5208 0 0);
}

@font-face {
  font-family: "EquitanSans";
  font-style: bold;
  font-weight: bold;
  src: url("./assets/fonts/EquitanSans-Bold.otf") format("opentype");
}
@font-face {
  font-family: "EquitanSans";
  font-style: light;
  font-weight: 100;
  src: url("./assets/fonts/EquitanSans-Light.otf") format("opentype");
}
@font-face {
  font-family: "EquitanSans";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/zEquitanSans-Regular.otf") format("opentype");
}
@font-face {
  font-family: "EquitanSans";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/EquitanSans-SemiBold.otf") format("opentype");
}

@font-face {
  font-family: "Radhiumz";
  font-style: normal;
  src: url("./assets/fonts/NCS\ Radhiumz\ Light.ttf") format("truetype");
}